
@font-face
{
	font-family: "AUDIONUGGET";
	src:url("../fonts/AudioNugget.ttf")
}

@font-face
{
	font-family: "navfont";
	src:url("../fonts/sofachrome rg.otf")
}

@font-face
{
	font-family: "main";
	src:url("../fonts/Roboto-Regular.ttf")
}

html
{

height:100%;
overflow-x: hidden;
}

.right{
	float: right;
	text-align:right;
}

.center{
	float: center;
	text-align:center;
}

.left{
	float: left;
	text-align:left;
}
img.banner{

	float: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

body{
	background-image: url("https://res.cloudinary.com/dteak3qsn/image/upload/v1721168331/synthwave_tuudpa.png");
	background-size:cover; 
	background-position:  center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #251449;
	
	height:100%;
}

h1.logo{
	text-align: center;
	
	color: white;
	font-family:"AUDIONUGGET";
	text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	padding: 25px 25px 25px 25px;
	width:100%;
	transition: 0.3s
}

ul.navbar{
	
	list-style-type: none;
	background-color: #2E236C ;
	padding: 40px 25px 40px 25px;
	text-align: center;
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	box-shadow: 5px 5px #000000;
	border-radius: 25px;
	width: auto;
	
}



li.nv{
	display: inline;
	color: white;
	font-family:"navfont";
	font-size: 60%;
	text-shadow: 4px 2px #000000;
	padding: 25px 25px 25px 25px;
	
	transition: 0.3s;
}

li.nv:hover{
	display: inline;
	color: red;
	font-family:"navfont";
	font-size: 75%;
	text-shadow: 4px 2px #000000;
	padding: 25px 25px 25px 25px;
	transition: 0.3s;
}



a
{
color: inherit;
text-decoration: inherit;
padding: none;
margin: none;

}



.contentcolumnmain
{
	 flex: 0 0 75%;
}

.contentcolumnside
{
	 flex: 0 0 30%;
}



.contentrow {
	display: flex;
	
	margin-left: 5%;
	margin-right: 5%;
  
}

.contentbox
{
	background-color: #2E236C ;
	padding: 5%;
	text-align: justify;
	display: block;
	margin: 5%;
	color: white;
	text-shadow: 1px 1px #000000;
	vertical-align: top;
	font-family: "main";
	box-shadow: 5px 5px #000000;
	border-radius: 25px;
	width: auto;
	

}


.singlecontentbox
{
    background-color: #2E236C ;
	padding: 5%;
	display: block;
	margin: 5%;
	color: white;
	text-shadow: 1px 1px #000000;
	vertical-align: top;
	font-family: "main";
	box-shadow: 5px 5px #000000;
	border-radius: 25px;
	width: 75%;
	
}

footer{
	color: white;
	font-family:"navfont";
	text-shadow: 2px 2px #000000;
	font-size: 25%;
	text-align:center;
	
	bottom: 0;
	width: 100%;
	height: 2.5rem; 
}

h1
{
	font-size: 1.6em;
}

@media only screen and (max-width: 1000px){
	.contentrow {
		display: block;
		
		margin-left: 5%;
		margin-right: 5%;
		}
	ul.navbar{
	
	list-style-type: none;
	background-color: #2E236C ;
	padding: 40px 25px 40px 25px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 5px #000000;
	border-radius: 25px;
	width: 75%;
	
	}
	
	li.nv{
	display: inline-block;
	color: white;
	font-family:"navfont";
	font-size: 60%;
	text-shadow: 4px 2px #000000;
	padding: 25px 25px 25px 25px;
	
	transition: 0.3s;
}

}

@media only screen and (min-width: 1280px) {

body{
	background-image: url("https://res.cloudinary.com/dteak3qsn/image/upload/v1721168331/synthwave_tuudpa.png");
	background-size:cover; 
	background-position:  center;
	background-repeat: no-repeat;
	background-attachment: fixed ;
	background-color: #251449;
	
	height:100%;
}

.contentrow {
	display: flex;
	
	margin-left: 20%;
	margin-right: 20%;
  
}

 li.nv{
	display: inline;
	color: white;
	font-family:"navfont";
	font-size: 100%;
	text-shadow: 4px 2px #000000;
	padding: 25px 25px 25px 25px;
	width: auto;
	transition: 0.3s;
}

li.nv:hover{
	display: inline;
	color: red;
	font-family:"navfont";
	font-size: 110%;
	text-shadow: 4px 2px #000000;
	padding: 25px 25px 25px 25px;
	transition: 0.3s;
}

ul.navbar{
	
	list-style-type: none;
	background-color: #2E236C ;
	padding: 50px 25px 50px 0px;
	text-align: center;
	display: block;
	margin-left: 20%;
	margin-right: 20%;
	box-shadow: 5px 5px #000000;
	border-radius: 25px;
	width: auto;
	
	
}




}






