@font-face
{
	font-family: "IBMCGA";
	src:url("../fonts/Web437_IBM_CGA.woff")
}

@font-face
{
	font-family: "AUDIONUGGET";
	src:url("../fonts/AudioNugget.ttf")
}

html
{

height:100%;
overflow-x: hidden;
}

img.banner{

	float: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

body{
	background-image: url("https://res.cloudinary.com/dteak3qsn/image/upload/v1721168331/synthwave_tuudpa.png");
	background-size:cover; 
	background-position:  center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #251449;
	
	height:100%;
}

h1{
	text-align: center;
	
	color: white;
	font-family:"AUDIONUGGET";
	text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	padding: 25px 25px 25px 25px;
	width:100%;
	transition: 0.3s
}

ul.navbar{
	
	list-style-type: none;
	background-color: #2E236C ;
	padding: 40px 25px 40px 25px;
	text-align: center;
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	box-shadow: 5px 5px #000000;
	border-radius: 25px;
	width: auto;
	
}



li.nv{
	display: inline;
	color: white;
	font-family:"IBMCGA";
	font-size: 75%;
	text-shadow: 4px 2px #000000;
	padding: 25px 25px 25px 25px;
	
	transition: 0.3s;
}

li.nv:hover{
	display: inline;
	color: red;
	font-family:"IBMCGA";
	font-size: 75%;
	text-shadow: 4px 2px #000000;
	padding: 25px 25px 25px 25px;
	transition: 0.3s;
}



a
{
color: inherit;
text-decoration: inherit;
padding: none;
margin: none;

}



.contentcolumnfull
{
	 flex: 0 0 100%;
}


.contentcolumnhalf
{
  flex: 0 0 50%;
}

.contentrow {
	display: flex;
	align-items:center;
	margin-left: 5%;
	margin-right: 5%;
  
}

.contentbox
{
	background-color: #2E236C ;
	padding: 5% 0 5% 0;
	text-align: center;
	display: block;
	margin: 5%;
	
	box-shadow: 5px 5px #000000;
	border-radius: 25px;
	width: auto;
	

}


@media only screen and (min-width: 1280px) {

.contentrow {
	display: flex;
	align-items:center;
	margin-left: 20%;
	margin-right: 20%;
  
}

 li.nv{
	display: inline;
	color: white;
	font-family:"IBMCGA";
	font-size: 100%;
	text-shadow: 4px 2px #000000;
	padding: 25px 25px 25px 25px;
	width: auto;
	transition: 0.3s;
}

li.nv:hover{
	display: inline;
	color: red;
	font-family:"IBMCGA";
	font-size: 100%;
	text-shadow: 4px 2px #000000;
	padding: 25px 25px 25px 25px;
	transition: 0.3s;
}

ul.navbar{
	
	list-style-type: none;
	background-color: #2E236C ;
	padding: 50px 25px 50px 0px;
	text-align: center;
	display: block;
	margin-left: 20%;
	margin-right: 20%;
	box-shadow: 5px 5px #000000;
	border-radius: 25px;
	width: auto;
	
	
}




}






