

	{{ partial "header.html" . }}
	<!--test-->

	

			<div class="contentrow">
				
				<div class="contentcolumnside">
					<div class="contentbox">
						{{ .Content }}
					</div>
				</div>
				
				<div class="contentcolumnmain">
					
		{{ range where .Site.RegularPages.ByTitle "Type" "post" }}
		<div class="contentbox">
  <h1>
		{{ .LinkTitle }} 
		<span class="right"> {{ .Date | time.Format ":date_medium"}} {{.Date | time.Format ":time_short" }} </span> 
		
  </h1>
  <p>{{ .Content }}</p>
  </div>	
{{ end }}
					
				</div>
				
				
			</div>
			
			
			
			
				
				
			
		
{{ partial "footer.html" . }}
