

	{{ partial "header.html" . }}
	<!--test-->

	

			<div class="contentrow">
				
				
				<div class="contentcolumnfull">
					<div class="contentbox">
						<h2>test</h2>
					</div>
				</div>
				
				
			</div>
			
			<div class="contentrow">
				
				
				<div class="contentcolumnhalf">
					<div class="contentbox">
						<h2>test</h2>
					</div>
				</div>
				
					
				<div class="contentcolumnhalf">
					<div class="contentbox">
						<h2>test</h2>
					</div>
				</div>
				
				
			</div>
			
				
				
			
		
{{ partial "footer.html" . }}
